body{
    background-color: #FDF4F5;
}
h1{
 color:#2A2F4F ;
}
p{
    color: #460C68;
}
img{
    width: 150px;
    height: 150px;
    background-color: #EEEEEE;
}
/* Classes*/
.diagonal-gradient {
    background: linear-gradient(to bottom right, blue, pink);
    border-radius: 50px;
  }

.auto-spaced-linear-gradient {
   background-color:#FDF4F5;
  }
  /* Id*/
#heading{
    font-size: 50px;
    
}

img:hover{
    width: 155px;
    height: 155px;
    cursor: pointer;
}

#heading:hover{
    color: rgb(161, 156, 164);
    font-stretch: expanded;
    cursor: pointer;

}