*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
header{
    background-color: darkblue;
    padding: 3% 7%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-weight: 800;
    font-size: 40px;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.list-items{
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin: 10px;
    padding: 7px 14px;
    background-color: aqua;
}

.list-items:hover{
    color: aqua;
    background-color: white;
    animation: ease-out 100;
    
}

/* home section  */

.home{
    height: 100vh;
    width: 100%;
    background-image:url("../images/img1.png") ;
    background-size:contain ;
    background-repeat:no-repeat ;
    background-position: right;
    background-color: rgb(148, 109, 109);
    
    
}
.info{
    padding: 7% 15%;
}
.one{
    font-size: 16px;
    color: rgb(113, 45, 45);
    padding: 7px;
}
.two{
    font-size:50px;
    padding: 7px;

}
.two span{
    color: rgb(113, 45, 45);
}
.three{
    color: white;
    font-size: 18px;
    padding: 7px;
    margin-bottom: 20px;
}
.btn{
    color: white;
    padding: 10px 20px;
    background: rgb(113, 45, 45);
    border-radius: 10px;
    border: 1px solid yellow;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;


}
.btn:hover{
    transform: scale(1.14) translateX(-5px);
    background: none;
}

/* about section  */

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 7%;
    background-color: rgb(148, 109, 109);
}
.about-img{
    margin-top: 20px;
}
.im{
    width: 325px;
}
.about-info{
    padding: 10px;
    display: inline-block;
    margin-left: 30px;
}

.four{
    font-size: 40px;
    color: White;
    font-weight: 700;
    padding: 10px 0;
}
.five{
    color: rgb(113, 45, 45);
    padding: 6px;
}
.six{
    color: rgb(43, 43, 44);
    padding: 6px;
}
.seven{
    color: white;
    font-size: 16px;
    display: grid;
    padding: 7px;



}
.and{
   margin-bottom: 20px;
}
