body{
    margin: 0px;
    background-color: #E3FDFD;
}
h1{
    margin-top: 0px;
    color: #002B5B;
    
}
h1:hover{
    color: #a6b0bd;
    cursor: pointer;
   
}
.top{
   
    padding: 5px;
}

.container{
    position: relative;
    left: 251px;
}


.first{
    
    height: 100px;
    width: 100px;
    border: solid pink 20px;
    background: #0e244b;
    position: absolute;
    
}
.second{
    height: 120px;
    width: 120px;
    border: solid yellow 10px;
    background-color: #10a831;
    position: absolute;
    top: 141px;
    left: 140px;
   
    
}
.third{
    height: 120px;
    width: 120px;
    border: solid red 10px;
    background-color: #640a19;
    position: absolute;
    top: 282px;
    left: 280px;
    
   
}

.mountain{
    width: auto;
    height: 400px;
}
.cloud{
    width: auto;
    height: auto;
}
span{
    text-decoration: underline;
}