body{
    margin: 0px;
    background-color: #E3FDFD;
}
h1{
    margin-top: 0px;
    color: #002B5B;
    
}
h1:hover{
    color: #a6b0bd;
    cursor: pointer;
   
}
.top{
    background-color: #A6E3E9;
    border: solid 10px;
    width: 175px;
    height: 175px;
    padding: 5px;
}
.middle{
    height: 160px;
    width: 160px;
    border: solid 20px;
    margin-left: 28%;
    background: #19376D;
}
.buttom{
    height: 180px;
    width: 180px;
    border: solid 10px;
    background-color: #0B2447;
    margin-left: 54%;
}
.container{
    background: white;
    margin: 0;
    width: 761px;
}