


body{
    margin: 0px;
    background-color: #E3FDFD;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    margin: 0px auto;
    color: #002B5B;
    padding-top: 40px;
}
 h2{
    font-family: 'Montserrat', sans-serif;
 } 
 
h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin-top: 0px;
}

h1:hover{
    color: #a6b0bd;
    cursor: pointer;
   
}

/* TOP-CONTAINER */
.top-container{
    text-align: center;
    padding-top: 60px;
    position: relative;
    height: auto;
}

.mountain{
    width: 750px;
    height: 645px;
    position: absolute;
    left: 12vw;
    top: 105px;
}
.top-cloud{
    height: 90px;
    position: absolute;
    left: 70vw;
    top: 2vw;
}
.bottom-cloud{
    height: 90px;
    position: absolute;
    left: 10vw;
}
span{
    text-decoration: underline;
}

/* MIDDLE-CCONTAINER */
.profile img{
    width: 300px;
    height: 300px;
}


/* BOTTOM-CONTAINER */



.first{
    
    height: 100px;
    width: 100px;
    border: solid pink 20px;
    background: #0e244b;
    position: absolute;
    
}
.second{
    height: 120px;
    width: 120px;
    border: solid yellow 10px;
    background-color: #10a831;
    position: absolute;
    top: 141px;
    left: 140px;
   
    
}
.third{
    height: 120px;
    width: 120px;
    border: solid red 10px;
    background-color: #640a19;
    position: absolute;
    top: 282px;
    left: 280px;
    
   
}

