body{
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;

}
.nav{
}
.title{
    background-color: rgb(205, 207, 209);
    width: 100%;
    padding: 3% 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-title{
    text-decoration: none;
    color: white;
    line-height: 3.5;
    font-size: 25px;
    font-weight: 800;


}

.list-items{
   list-style: none;
   display: inherit;
   
}
.items{
    padding: 7px 15px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(65, 105, 38);
    border-radius: 20px;
    margin:10px;
    cursor: pointer;

}
.items:hover{
    background-color: aliceblue;
    color: rgb(65, 105, 38);
}