h1{
    color:rgb(28, 33, 90);
    background-color: antiquewhite;
    border: 2px solid rgb(28, 33, 90);
    border-radius: 5px;
    padding: 5px 10px;
    position:absolute;
    margin: 10% 20%;
    text-align: center;
}