.left{
    width: 400px;
    background-color: aliceblue;
    padding: 7% 15%;
}
.attribute{
    margin: 10px;

}
.dice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5% 7%;
}